/* header  */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 54px;
}

.header h1 a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}

/* search  */
.header .search {
  display: flex;
  align-items: center;
}

.header .search form {
  position: relative;
}

.header .search .search-box {
  background: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: var(--font-color);
}

.header .search form i {
  position: absolute;
  right: 14px;
  top: 12px;
  cursor: pointer;
  color: var(--font-color);
}

#icon {
  color: #fff;
  font-size: 26px;
  margin-left: 8px;
}

.header .menu {
  color: #fff;
  font-size: 26px;
  margin-left: 8px;
  display: block;
  cursor: pointer;
}

/* carousel  */
.carousel {
  background-image: linear-gradient(
      to right,
      var(--primary-color),
      rgb(0, 0, 0, 0.6)
    ),
    url(../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 410px;
}

.carousel .container {
  position: relative;
}

.carousel .info {
  max-width: 540px;
  position: absolute;
  top: 232px;
  left: 530px;
  font-size: 25px;
  color: #fff;
}

.carousel .info a {
  color: #ff6600;
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 30px;
}

.carousel .info i {
  margin-left: -31px;
  margin-right: 11px;
  color: #fff;
  font-size: 23px;
}

/* about us  */
.about {
  background-color: var(--backgroucolor);
  padding: 70px 0;
}

.about .container .row {
  display: flex;
}

.about .container .row .col:nth-child(1) {
  width: 40%;
}

.about .container .row .col:nth-child(2) {
  width: 60%;
}
.about .container .row .col .item img {
  width: 100%;
  border-radius: 5px;
}
.about .container .row .col:nth-child(2) .item {
  padding: 0 2px;
}
.about .container .content {
  padding-bottom: 45px;
  padding-left: 70px;
}
.about .container .content h1 {
  color: #ff6600;
  font-size: 23px;
}
.about .container .content p {
  color: black;
  font-size: 40px;
}
.about .container .row {
  padding-left: 70px;
}

.about .container .row .col .item a {
  color: #fff;
  padding: 12px 14px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 23px;
  border: 3px solid #fff;
  background-color: #ff6600;
}
.about .container .row .col .item a:hover {
  opacity: 0.8;
}
.about .container .row .col .item a i {
  margin-left: 1px;
  margin-right: 11px;
  color: #fff;
  font-size: 21px;
}

.about .row .col h1 {
  font-size: 25px;
  color: var(--heading-color);
}

.about .row .col h2 {
  color: var(--heading-color);
  font-size: 45px;
  width: 85%;
}
.about .row .col:nth-child(2) {
  margin-left: 60px;
}
.about .row .col:nth-child(2) .item {
  padding: 0 15px 0 45px;
}

.about .row .col p {
  font-size: 22px;
  color: var(--font-color);
  opacity: 0.8;
}

.about .row .col span {
  display: block;
  font-size: 22px;
  color: var(--font-color);
  margin-top: 20px;
  opacity: 0.8;
  margin-bottom: 22px;
}
/* what */
.what {
  padding-bottom: 70px;
}
.what .container .row {
  display: flex;
}
.what .container .row .col:nth-child(1) {
  width: 34%;
}
.what .container .row .col:nth-child(2) {
  width: 22%;
}
.what .container .row .col:nth-child(3) {
  width: 22%;
}
.what .container .row .col:nth-child(4) {
  width: 22%;
}
.what .container .row .col p {
  font-size: 50px;
  text-align: center;
}
.what .container .row .col h1 {
  font-size: 24px;
  color: #ff6600;
  cursor: pointer;
}
.what .container .row .col span {
  font-size: 19px;
}
.what .container .row .col h1:hover {
  color: #ffc600;
}
/* skills  */
.skill {
  padding: 50px 0;
  background-color: var(--second-background);
}

.skill .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -15px;
}

.skill .row .col {
  width: 50%;
}

.skill .row .col:nth-child(1) .item {
  padding: 0 15px;
}

.skill .row .col .item h4 {
  color: var(--primary-color);
  font-size: 28px;
}

.skill .row .col .item h3 {
  color: var(--heading-color);
  font-size: 42px;
  line-height: 55px;
  width: 70%;
}

.skill .row .col .item p {
  color: var(--font-color);
  font-size: 20px;
  opacity: 0.8;
  display: block;
  width: 70%;
  margin: 15px 0;
}

.skill .row .col .bars .row {
  flex-direction: column;
  margin-right: -400px;
}

.skill .row .col .bars h3 {
  font-size: 24px;
  width: 100%;
}

.skill .row .col .bars .progress {
  background-color: var(--font-color);
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.skill .row .col .bars .progress .current-progress {
  background-color: var(--primary-color);
  height: 6px;
}

.skill .row .col .bars .col:nth-child(1) .progress .current-progress {
  width: 80%;
}

.skill .row .col .bars .col:nth-child(2) .progress .current-progress {
  width: 95%;
}

.skill .row .col .bars .col:nth-child(3) .progress .current-progress {
  width: 60%;
}

.skill .row .col:nth-child(2) .item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.skill .row .col img {
  width: 100%;
  border-radius: 5px;
}

/* team  */
.team {
  padding: 50px 0;
  background-color: var(--background-color);
}

.team .container {
  padding: 40px 0;
}

.team .container .title {
  text-align: center;
}

.team .container .title h2 {
  font-size: 25px;
  color: var(--primary-color);
}

.team .container .title h1 {
  font-size: 50px;
  color: var(--heading-color);
  margin-bottom: 50px;
}
.team .main .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team .main .row .col {
  width: calc(100% / 3);
  padding: 0 15px;
}

.team .main .row .col .image {
  position: relative;
}

.team .main .row .col .image:hover .icon {
  opacity: 1;
  transition: all 0.5s;
}

.team .main .row .col .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.team .main .row .col .image .icon {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  opacity: 0;
}

.team .main .row .col .image .icon a {
  display: block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background: rgba(157, 157, 157, 0.5);
  margin-right: 12px;
  transition: all 0.5s;
}

.team .main .row .col .image .icon a:hover {
  background: #fff;
}

.team .main .row .col .image .icon a:hover i {
  color: var(--primary-color);
}

.team .main .row .col .image .icon a i {
  color: #fff;
  font-size: 18px;
}

.team .main .row .col .item h3 {
  margin: 20px auto 5px;
  text-align: center;
  font-size: 25px;
  color: var(--heading-color);
  cursor: pointer;
}

.team .main .row .col .item h3:hover {
  color: var(--primary-color);
}

.team .main .row .col .item p {
  text-align: center;
  font-size: 18px;
  color: var(--font-color);
  opacity: 0.8;
}

/* footer  */
.footer {
  padding: 50px 0 20px;
  background-color: #000;
  margin-bottom: 400px;
}

.footer .top .row {
  display: flex;
  flex-wrap: wrap;
}

.footer .row a {
  text-decoration: none;
}

.footer .top .row .col {
  width: calc(100% / 3);
}

.footer .top .row .col:nth-child(1) .item {
  padding-right: 85px;
}

.footer .top .row .col:nth-child(4) .item {
  padding: 0 5px;
}

.footer .top .row .col .item h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 25px;
}

.footer .top .row .col .item h2 a {
  color: #fff;
  font-size: 32px;
  margin-bottom: 18px;
}

.footer .top .row .col .item h2 a:hover {
  color: var(--primary-color);
}

.footer .top .row .col .item p {
  font-size: 20px;
  color: #a5a2a1;
  line-height: 25px;
}

.footer .top .row .col .item .icon {
  margin-top: 25px;
  display: flex;
}

.footer .top .row .col .item .icon a {
  color: var(--primary-color);
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  text-align: center;
  line-height: 30px;
  display: block;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.footer .top .row .col .item .icon a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.footer .top .row .col:nth-child(2) .item {
  display: flex;
}

.footer .top .row .col .item .subsection {
  width: 50%;
}

.footer .item .subsection ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer .item .subsection ul li a {
  font-size: 18px;
  color: #a5a2a1;
}

.footer .item .subsection ul li a:hover {
  color: var(--primary-color);
}

.footer .item .form {
  margin-top: 25px;
}

.footer .item .form input {
  width: 100%;
  padding: 16px 22px;
  font-size: 20px;
  background: var(--background-color);
  color: var(--font-color);
  border-radius: 5px;
  border: 1px solid transparent;
}

.footer .item .form input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.footer .item .form button {
  margin-top: 10px;
  width: 100%;
  padding: 16px 22px;
  font-size: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.5s;
  border: 1px solid transparent;
}

.footer .item .form button:hover {
  opacity: 0.8;
}

.footer .copyright {
  margin-top: 100px;
}

.footer .copyright .row {
  display: flex;
}

.footer .copyright .col:nth-child(1) {
  width: 67%;
}

.footer .copyright .col p {
  color: #ddd;
  font-size: 18px;
}

.footer .copyright .col p a {
  color: var(--primary-color);
}

.footer .copyright .col p a:hover {
  color: #fff;
}

.footer .copyright ul {
  display: flex;
}

.footer .copyright .col li {
  list-style: none;
}

.footer .copyright .col li:nth-child(2) {
  margin: 0 50px;
}

.footer .copyright .col a {
  color: #a5a2a1;
  font-size: 18px;
}

.footer .copyright .col a:hover {
  color: var(--primary-color);
}

.footer .col:nth-child(3) {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .carousel .info {
    left: 486px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .header .menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .carousel .info {
    margin-left: -223px;
  }
  .about .container .row {
    flex-direction: column;
  }
  .about .container .row .col:nth-child(1) {
    width: 100%;
  }
  .about .container .row .col:nth-child(2) {
    width: 100%;
  }
  .about .container .row .col .item h1 {
    font-size: 26px;
  }
  .about .container .row .col .item h2 {
    font-size: 22px;
  }
  .about .container .row .col .item p {
    font-size: 18px;
  }
  .about .container .row .col .item span {
    font-size: 18px;
  }
  .about .container .row .col:nth-child(2) {
    margin-left: 0px;
  }
  .what .container .row {
    flex-direction: column;
    padding-left: 67px;
  }
  .what .container .row .col:nth-child(1) {
    width: 100%;
  }
  .what .container .row .col:nth-child(2) {
    width: 100%;
  }
  .what .container .row .col:nth-child(3) {
    width: 100%;
  }
  .what .container .row .col:nth-child(4) {
    width: 100%;
  }
  .what .container .row .col p {
    text-align: unset;
  }
  .what .container .row .col {
    margin-bottom: 28px;
  }
  .skill .row .col {
    width: 100%;
  }

  .skill .row .col .item h3 {
    width: 100%;
    font-size: 35px;
  }

  .skill .row .col .item p {
    width: 100%;
  }

  .skill .row .col .bars {
    margin-bottom: 30px;
  }

  .skill .row .col .bars .row {
    margin-right: 0;
  }

  .skill .row .col .bars h3 {
    font-size: 24px;
  }

  .skill .row .col:nth-child(2) .item-grid {
    padding: 0 15px;
  }
  .team .main .row .col {
    width: 50%;
  }

  .team .main .row .col:nth-child(3) {
    margin-top: 30px;
  }

  .footer .top .row .col {
    width: 50%;
    margin-bottom: 40px;
  }

  .footer .top .row .col .subsection:nth-child(2) {
    display: none;
  }

  .footer .col:nth-child(3) {
    display: block;
  }

  .footer .top .row .col:nth-child(4) .item {
    padding: 0;
  }

  .footer .copyright {
    margin-top: 25px;
  }

  .footer .copyright .col:nth-child(1) {
    width: 100%;
    text-align: center;
  }

  .footer .copyright .row {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .carousel .info {
    margin-left: -310px;
  }
  .about .container .row {
    flex-direction: column;
  }
  .about .container .row .col:nth-child(1) {
    width: 100%;
  }
  .about .container .row .col:nth-child(2) {
    width: 100%;
  }
  .about .container .row .col .item h1 {
    font-size: 26px;
    
  }
  .about .container .row .col .item h2 {
    font-size: 22px;
    
  }
  .about .container .row .col .item p {
    font-size: 18px;

  }
  .about .container .row .col .item span {
    font-size: 18px;
    
  }
  .more .row {
    flex-direction: column;
  }
  .more .row .col:nth-child(1) {
    width: 100%;
  }
  .more .row .col:nth-child(2) {
    width: 100%;
  }
  .new .container .main .row .col {
    width: 50%;
  }
  .service .container .row .col {
    width: 100%;
  }
  .latest .main .row .col {
    width: 100%;
  }
  .footer .top .row .col {
    width: 100%;
  }

  .footer .top .row .col .subsection:nth-child(2) {
    display: block;
  }

  .footer .col:nth-child(3) {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #161c2d;
  --background-color: #fff;
  --heading-color: #232121;
  --second-background: #f7f7f7;
  --icon-background: rgba(130, 115, 252, 0.05);
}

body {
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color);
  position: fixed;
  bottom: 50px;
  right: 15px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
}

.arrow a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.arrow:hover a {
  color: var(--secondary-color);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0);
  }
}
